.feedback-form {
  padding-bottom: 39px;
}

.feedback-form__label {
  @include form-label();

  &--bold {
    @include heading();
    text-transform: none;
  }

  &--fullname {
    margin-right: 14px;
  }

  &--tel {
    margin-left: 22px;
    margin-bottom: 6px;
  }

  &--mail {
    margin-left: 22px;
    margin-bottom: 9px;
  }
}


.feedback-form__input {
  @include heading;
  position: relative;
  width: 100%;
  padding: 15px 22px;
  text-transform: unset;
  background-color: #f2f2f2;
  border: none;

  &::placeholder {
    color: #000000;
  }

  &--contact {
    padding-right: 65px;
  }
}

.feedback-form__radio {
  width: 56px;
  height: 56px;
  margin-right: 22px;
}

.feedback-form__checkbox {
  margin-right: 23px;
  width: 56px;
  height: 56px;
}

.feedback-form__textarea {
  @include heading;
  text-transform: unset;
  width: 100%;
  padding: 15px 22px;
  background-color: #f2f2f2;
  border: none;

  &::placeholder {
    color: #000000;
  }
}

.feedback-form__submit {
  @include heading();
  display: inline-block;
  width: 280px;
  padding: 16px 0;
  color: #ffffff;
  font-size: 21px;
  text-decoration: none;
  background-color: $blue-color;
  order: 3;
  border: 0;
  margin-left: 20px;
  margin-top: 46px;
}

.feedback-form__hint {
  display: none;
  order: 3;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px 60px;
  }

  .feedback-form__label {
    &--tel {
      margin-left: 23px;
      margin-bottom: 6px;
    }

    &--mail {
      margin-left: 23px;
      margin-bottom: 9px;
    }
  }

  .feedback-form__fieldset {
    width: 100%;
    order: 3;
  }

  .feedback-form__fieldset:first-child {
    width: 50%;
    padding: 26px 0 3px 58px;
    order: 2;
    text-align: left;
  }

  .feedback-form__fieldset:nth-child(3) {
    width: 50%;
    padding: 26px 30px 30px 0;
    order: 1;
    text-align: left;
  }

  .feedback-form__submit {
    width: 50%;
    margin-left: 0;
    margin-top: 5px;
  }

  .feedback-form__hint {
    @include description();
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-top: 26px;
  }
}

/* @media (min-width: $desktop-width) {
  .feedback-form__fieldset:nth-child(3) {
    position: relative;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 20px;
      bottom: 20px;
      width: 1px;
      background-color: #dbdbdb;
    }
  }
} */
