.form-item {
  border: none;
  border-top: 2px solid #e5e5e5;
  text-align: center;
  padding: 18px 20px 0;
  margin: 0 auto;

  &--fullname {
    padding-bottom: 3px;
  }

  &--contacts {
    padding: 18px 20px 7px;
  }

  &--radio {
    padding-bottom: 17px;
  }
}

.form-item__title {
  @include heading();
  margin: 0;
  margin-bottom: 22px;

  &--attraction {
    margin-bottom: 15px;
  }

  &--description {
    margin-bottom: 19px;
  }
}

.form-item__item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  &--tel {
    margin-bottom: 25px;
  }

  &--contact {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  &--radio {
    margin-bottom: 12px;
  }

  &--half-width {
    margin-bottom: 24px;
  }
}

.form-item__item--contact::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 0;
  width: 58px;
  height: 56px;
  background: #e6e6e6 no-repeat center;
}

.form-item__item--tel::after {
  background-image: url("../../img/icon-phone.svg");
}

.form-item__item--email::after {
  top: 35px;
  background-image: url("../../img/icon-mail.svg");
}


@media (min-width: $tablet-width) {
  .form-item {
    border: none;

    &--contacts {
      margin-bottom: 13px;
    }

    &--description {
      padding: 50px 0;
    }
  }

  .form-item:nth-child(3) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 30px;
      bottom: 50px;
      width: 1px;
      background-color: #dbdbdb;
    }
  }

  .form-item__title {
    font-size: 21px;
    margin-bottom: 57px;
  }

  .form-item__title--contacts {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    &::before,
    &::after {
      content: "";

      flex-grow: 1;
      flex-shrink: 0;

      width: 50px;
      height: 1px;


      background: #dbdbdb;
    }

    &::before {
      margin-right: 60px;
    }

    &::after {
      margin-left: 60px;
    }
  }

  .form-item__title--attraction {
    display: flex;
    align-items: center;
    margin-bottom: 44px;

    &::before,
    &::after {
      content: "";

      flex-grow: 1;
      flex-shrink: 0;

      width: 50px;
      height: 1px;


      background: #dbdbdb;
    }

    &::before {
      margin-right: 60px;
    }

    &::after {
      margin-left: 60px;
    }
  }

  .form-item__item {
    &--half-width {
      width: 50%;
      flex-shrink: 0;
      margin-right: 29px;
    }

    &--radio {
      margin-bottom: 23px;
    }
  }

  .form-item__container--attraction {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .form-item {
    border: none;

    &--contacts {
      margin-bottom: 21px;
    }

    &--description {
      padding: 42px 0;
    }
  }

  .form-item--attraction {
    padding: 0;
  }

  .form-item__title {
    &--radio {
      margin-left: 78px;
    }

    &--contacts {
      margin-bottom: 73px;
    }

    &--attraction {
      margin-bottom: 42px;
    }
  }

  .form-item__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .form-item__item {
    width: auto;

    &--tel {
      width: 42%;
    }

    &--email {
      width: 50%;
    }

    &--half-width {
      margin-right: 0;
    }
  }

  .form-item__item--contact {
    flex-direction: row;
    align-items: center;

    &::after {
      top: 0;
    }
  }
}
