.desktop-container {
  background-color: #ffffff;
  overflow: hidden; /* IE horizontal scrollbar fix */
}

@media (min-width: $desktop-width) {
  .desktop-container {
    max-width: $desktop-width;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  }
}
