.developed-by__description {
  @include description();
  text-transform: uppercase;
}

.developed-by__img {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -10px;

  &:hover,
  &:focus {
    fill: #81b3d2;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: $tablet-width) {
  .developed-by {
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-top: 6px;
  }

  .developed-by__img {
    margin-left: 12px;
    margin-bottom: 0;
  }

  .developed-by__description {
    letter-spacing: 0.02em;
  }
}

@media (min-width: $desktop-width) {
  .developed-by {
    margin-top: 5px;
  }
}
