.main-nav {
  @include heading();
  color: #252424;
}

.main-nav__list {
  @include reset-list();
}

.main-nav__item {
  text-align: center;
}

.main-nav__item a {
  @include heading();
  display: block;
  padding: 7px 0;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
  background-color: $blue-color;
  border-top: 1px solid #678fa8;
  border-bottom: 1px solid #9ac2db;
}

.main-nav__btn-close {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background: url("../../img/icon-cross.svg") no-repeat center;
  border: 0;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-left: 49px;
    padding-right: 26px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    background-color: transparent;

    &--photo {
      margin-left: 26px;
    }

    &--form {
      margin-left: 160px;
    }
  }

  .main-nav__btn-close {
    display: none;
  }

  .main-nav__item a {
    color: #000000;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    line-height: 26px;
    padding: 15px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding-left: 91px;
    padding-right: 70px;
  }

  .main-nav__item {
    &--photo {
      margin-left: 21px;
    }

    &--form {
      margin-left: 242px;
    }
  }
}
