.page-footer {
  background-color: #fefefe;
  padding: 34px 20px 25px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__title {
  @include heading();
  font-size: 21px;
  margin: 0;
  margin-bottom: 37px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    padding: 36px 60px;
    align-items: center;

    &--index {
      padding: 27px 60px;
    }
  }

  .page-footer__title {
    margin: 0;
    margin-right: 112px;
  }

  .page-footer__contacts {
    margin: 0;
    margin-right: 120px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 36px 120px;

    &--index {
      padding: 27px 120px;
    }
  }

  .page-footer__title {
    margin-right: 269px;
  }

  .page-footer__contacts {
    margin-right: 275px;
  }
}
