.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__main-picture {
  position: relative;
  top: -20px;
  z-index: 1;
}

.page-header__main-picture--min-size {
  height: 130px;
}

.page-header__toggle {
  /*   position: absolute;
  bottom: 290px;
  right: 0; */
  display: block;
  width: 23px;
  height: 22px;
  margin-top: 20px;
  padding: 0;
  background: transparent url('../../img/icon-menu.svg') no-repeat;
  border: none;
}

.page-header__title {
  @include heading();
  margin: 0;
  padding: 0 10px;
  margin-bottom: 35px;
}

.page-header__description {
  @include description();
  line-height: 26px;
  color: $grey-color;
  text-transform: uppercase;
  margin: 0;

  br {
    display: none;
  }
}

.page-header__wrapper {
  padding: 42px 20px 0;
  margin: 0 auto;
  text-align: center;
}

.page-header__container {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  z-index: 10;
}

.page-header__logo {
  margin-right: 67px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding: 42px 60px 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__title {
    padding: 0 100px;
  }

  .page-header__main-picture {
    margin-top: 0;
  }

  .page-header__description br {
    display: inline;
  }
}
