.reason {
  background-color: #eeeeee;
  padding: 36px 30px;
  color: $grey-color;

  &--blue {
    color: #ffffff;
    background-color: $blue-color;
  }
}

.reason__title {
  @include heading();
}

.reason__title--white {
  color: #ffffff;
}

.reason__title--black {
  color: #000000;
}

.reason__number {
  @include description();
}

.reason__description {
  @include description();
}
