.city-list {
  @include reset-list();
  padding: 35px 20px;
}

.city-list__item {
  position: relative;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 50px;
  margin-bottom: 27px;

  &:last-child {
    margin-bottom: 0;
  }

  &--house::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 39px;
    height: 37px;
    background-image: url("../img/icon-house.svg");
    background-size: 39px 37px;
  }

  &--souvenirs::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 3px;
    width: 32px;
    height: 38px;
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
  }

  &--food::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -2px;
    width: 39px;
    height: 35px;
    background-image: url("../img/icon-burger.svg");
    background-size: 39px 35px;
  }
}

.city-list__title {
  @include heading();
  margin: 0;
  margin-bottom: 15px;
}

.city-list__description {
  @include description();
  color: $grey-color;
  margin: 0;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .city-list {
    display: flex;
    padding: 0;
    padding-top: 57px;
  }

  .city-list__description br {
    display: inline;
  }

  .city-list__title {
    font-size: 21px;
    margin-bottom: 23px;
  }

  .city-list__item {
    margin: 0;
    padding: 100px 50px 60px;
    text-align: center;
    width: 33.333333%;
    order: 1;

    &::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &--house::before {
      width: 75px;
      height: 72px;
      background-size: 75px 72px;
    }
  }

  .city-list__item--food {
    order: 2;

    &::before {
      top: 6px;
      width: 77px;
      height: 68px;
      background-size: 77px 68px;
    }
  }

  .city-list__item--souvenirs {
    padding: 100px 45px 60px;
    order: 3;

    &::before {
      width: 64px;
      height: 75px;
      background-size: 64px 75px;
    }
  }
}

@media (min-width: $desktop-width) {
  .city-list__item {
    padding-bottom: 82px;
  }
}
