.find-hotel {
  padding: 30px 20px 50px;
  margin: 0 auto;
  text-align: center;
}

.find-hotel__title {
  @include heading();
}

.find-hotel__description {
  @include description();
  color: $grey-color;
  text-transform: uppercase;
}

.find-hotel__btn {
  @include heading();
  color: #ffffff;
  font-size: 21px;
  text-decoration: none;
  background-color: $blue-color;
}

@media (min-width: $tablet-width) {
  .find-hotel__title {
    font-size: 30px;
  }
}
