.reason {
  background-color: #eeeeee;
  color: $grey-color;

  &--blue {
    color: #ffffff;
    background-color: $blue-color;
  }
}

.reason__wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;

  &--40-20 {
    padding: 40px 20px;
  }

  &--30-20 {
    padding: 30px 20px;
  }
}

.reason__title {
  @include heading();
  margin: 0;
}

.reason__title--white {
  color: #ffffff;
}

.reason__title--black {
  color: #000000;
}

.reason__number {
  @include description();
}

.reason__description {
  @include description();
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reason {
    display: flex;
    width: 33.33%;

    &--blue {
      width: 100%;
    }

    min-height: 255px;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
}
