.reason {
  background-color: #eeeeee;
  color: $grey-color;
}

.reason--blue {
  color: #ffffff;
  background-color: $blue-color;

  .reason__wrapper {
    padding: 42px 20px 39px;
  }
}

.reason__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 46px 19px;

  &--with-border:after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: -1px;
    left: 20px;
    height: 1px;
    background: #d6d6d6;
  }

  br{
    display: none;
  }
}

.reason__title {
  @include heading();
  margin: 0;
  margin-bottom: 11px;

  br {
    display: none;
  }
}

.reason__title--white {
  color: #ffffff;
}

.reason__title--black {
  color: #000000;
}

.reason__number {
  @include description();
  display: inline-block;
  margin-bottom: 16px;
}

.reason__description {
  @include description();
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reason {
    display: flex;
    width: 33.333333%;

    &--blue {
      width: 100%;
    }

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  .reason--blue .reason__wrapper {
    padding: 45px 15px 39px;
  }

  .reason__title {
    padding: 0;
    font-size: 21px;

    br {
      display: block;
    }
  }

  .reason__number {
    margin-bottom: 22px;
  }

  .reason__description {
    padding: 0 30px;
  }

  .reason__wrapper--with-border:after {
    content: "";
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reason--blue .reason__wrapper {
    padding: 52px 15px 39px;
    min-width: 400px;
    br{
      display: inline;
    }
  }

  .reason__wrapper{
    padding-bottom: 63px;
  }

  .reason__img--city {
    height: 256px;
    flex-grow: 1;
  }

  .reason__img--bridge{
    height: 256px;
    flex-grow: 1;
  }

  .reason__description {
    padding: 0;
  }

  .reason__title{
    margin-bottom: 9px;
  }
}
